* {
    margin: 0 auto;
    user-select: none;
    background-size: cover;
}
html {
    background-color: #ccc;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
#touchZone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.skillButton {
    position: absolute;
    bottom: 100px;
    width: 25%;
    height: 10vh;
    font-size: 50px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border: 10px solid white;
    text-align: center;
    line-height: 10vh;
    z-index: 0;
}
#skill_1 {
    left: 50%;
}
#skill_2 {
    left: 25%;
}
#skill_3 {
    left: 0;
}
#skill_super {
    left: 75%;
}

#BigCircle {
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: rgba(200, 200, 200, 0.5);
    border: 10px solid gray;
    display: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 5;
}
#ControlCircle {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 200, 200);
    border: 5px solid gray;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 50%;
    z-index: 5;
}
#background {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
    min-width: 600px;
    image-rendering: pixelated;
    background-color: white;
    overflow: hidden;
    z-index: 1;
}
#GameCanvas {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
    min-width: 600px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    z-index: 2;
}
#GameUI {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
    min-width: 600px;
    overflow: hidden;
    z-index: 3;
}

.UIButton {
    position: absolute;
    bottom: calc(10vh + 130px);
    width: 100px;
    height: 15vh;
    border: 10px solid gray;
    font-size: 100px;
    font-weight: 10px;
    text-align: center;
    box-sizing: border-box;
    color: white;
}
#OkButton {
    right: 0;
    background-color: rgb(0, 90, 255);
}
#CanselButton {
    left: 0;
    background-color: rgb(255, 75, 0);
}

.TitleBtn {
    position: absolute;
    width: 400px;
    height: 100px;
    border: none;
    border-bottom: 2px solid #1A2026;
    background: none;
    font-size: 20px;
    overflow: hidden;
    font-size: 50px;
    font-weight: 15px;
}
.TitleBtn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #7E8BD9, rgba(0,0,0,0));
    transform: translateX(-100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}
.TitleBtn:hover::before {
    transform: translateX(0);
}

.settingField {
    background: #F2F2F2;
    text-align: center;
    overflow: hidden;
}
.settingField .SettingList {
    width: 100%;
    padding: 0;
    list-style-type: none;
}
.settingField .SettingList .SettingText {
    position: relative;
    text-align: center;
    background: #0A0D40;
    color: #F2F2F2;
    line-height: 100px;
    height: 100px;
    font-size: 30px;
    text-decoration: none;
}
.settingField .SettingList .SettingLi {
    position: relative;
    height: 50px;
    background-color: #7E8BD9;
}
.settingField .SettingList .SettingLi .Setting_Label {
    position: absolute;
    top: 5px;
    left: 50%;
    height: 100%;
    font-size: 30px;
    color: white;
    transform: translateX(-100%);
    text-align: center;
}
.settingField .SettingList .SettingLi .Setting_Input {
    position: absolute;
    top: 5px;
    left: 50%;
    height: 100%;
    text-align: center;
}

.OptionClose {
    height: 100px;
}

.SettingBtn {
    position: absolute;
    left: 0;
    display: block;
    padding: 0;
    width: 250px;
    height: 10%;
    border: none;
    background-color: #7E8BD9;
    font-size: 30px;
    color: #F2F2F2;
}

.SettingDiv {
    position: absolute;
    top: 0;
    left: 250px;
    width: 100%;
    display: none;
    height: 100%;
    background-color: #A3ABD9;
    color: #181D26;
}
.SetText {
    position: absolute;
    left: 40%;
    transform: translateX(-110%);
    display: block;
    height: 80px;
    font-size: 30px;
}
.SetInput {
    position: absolute;
    left: 40%;
    display: block;
    height: 80px;
    font-size: 30px;
}